%p.login= link_to 'Sign-up for Rotten Potatoes', signup_path

%h1 Log-in: 

= form_tag sessions_path, :method => 'post' do

  = label :session, :email, 'Email'
  = text_field :session, 'email'

  = label :session, :password, 'Password'
  = password_field :session, 'password'

  = submit_tag 'Log in'
